---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---

<Layout title="Welcome to GhosT">
	<main>
		<script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
		<img src="/ghostlogo.png" class="astro-a">
			
		
			
		
		<h1>Welcome to <span class="text-gradient">GhosT</span></h1>
		<p class="instructions">
			Step into the shadows where GhosTs whispers, forbidden graffiti, and haunting art converge, revealing the untold stories lurking in the darkest corners of our world
		</p>
		<ul role="list" class="link-card-grid">
			<!-- --><Card
				href="/posts/post-1"
				title="Join the GhosT"
				body="Unveiling the hidden messages and dark symbolism behind street art found in forgotten urban corners"
			/>
			<Card
				href="https://ghostieboi.lemonsqueezy.com/buy/56c9dd11-fe17-400c-b4d8-5b408fc66cd1"
				title="Leave a message on our Wall!"
				body="Visit my wall and leave your own message"
			/>
			<Card
				href=""
				title="The Shadow of the City: Dark Urban Art and the Underworld"
				body="Investigating the intersection of street art and the underground, where graffiti and murals reflect the darker aspects of city life, from crime to ghostly legends."
			/>
			<Card
				href=""
				title="Virtual Realms of Darkness: The Art of Horror in Online Gaming"
				body="An exploration of how online games harness dark art and eerie aesthetics to create immersive, spine-chilling experiences that blur the line between virtual fear and reality."
			/>
			<a class="lemonsqueezy-button" href="https://ghostieboi.lemonsqueezy.com/buy/56c9dd11-fe17-400c-b4d8-5b408fc66cd1">
				Buy Now
			  </a>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translatex(-50%);
		width: 200px;
		height: auto;
		z-index: -1;
		opacity: 0.1;

	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>