---
---

<footer>
    <h2><a href="/">Home</a></h2>
    
  </footer>

  <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
    h1{
        color: white;
        text-align: center;
    }
    h2{color: white;
        text-align: center;}
    p{color: white;
        text-align: center;
        padding: 0px 250px 0px;}


</style>

  